*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#fff;
}
body{
    position: relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background:#000000db;
    backdrop-filter: blur(1px);
    transition:1s;
}
.center{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
}
.centerall{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}
.btn{
    background:#000;
    color:#fff;
    padding:10px 20px;
    border:3px solid #fff;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
}
.btn:hover{
    background:#fff;
    color:#000;
}

#loading{
    position: absolute;
    width:100%;
    height:100vh;
    background:#000;
    top:0;
    left:0;
    z-index:10;
    opacity:1;
    transition:0.5s;
}
.load-img{
    width:200px;
    rotate:90deg;
    animation: 10s loading linear infinite;
}
@keyframes loading {
    0%{
        tranform:translate(0px,0px)
    }
    10%{
        transform:translate(10px,10px)
    }
    20%{
        transform:translate(0,0)
    }
    30%{
        transform:translate(-10px,-3px)
    }
    40%{
        transform:translate(-5px,15px)
    }
    50%{
        transform:translate(10px,-3px)
    }
    60%{
        transform:translate(12px,-13px)
    }
    70%{
        transform:translate(10px,13px)
    }
    80%{
        transform:translate(-15px,0px)
    }
    90%{
        transform:translate(-10px,-3px)
    }
    100%{
        transform:translate(0,0)
    }
}


section{
    width:100%;
    height:100vh;
    position: relative;
    background: url(public/bg.webp) left / cover;
    background-position: 0%;
    animation: bg infinite 100s;
}
@keyframes bg {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}
.preload{
    width:0;
    height:0;
    overflow: hidden;
}


#rocket{
    height:225px;
    width: 115px;
    position:absolute;
    left:30%;
    top:-55px;
    transform:translateX(100%);
    rotate: 90deg;
    transition: rotate 0.5s, top 0.1s;
    filter:contrast(1.5) brightness(0.7);
    border:1px solid #f00;
}
#rocket-img{
    width: 100%;
    height: 100%;
    background: url(public/rocket-c.webp) center / cover;
}
#boom{
    position:absolute;
    right:0;
    bottom:0;

}

.planet{
    width:100px;
    height:100px;
    background: url(public/Planets/planet00.webp) center / cover;
    filter:contrast(1.5) brightness(0.7);
    position:absolute;
    right: -100px;
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: 5s;
}
/* .planet-move{
    animation: planetMove 7s linear infinite;
} */
.planet-pause {
    animation-play-state: paused;
}
@keyframes planetMove {
    0%{
        transform: translateX(10vw);
    }
    100%{
        transform: translateX(-110vw);
    }
}


.scoreboard{
    position: absolute;
    top: 5%;
    left:5%;
    width:250px;
    padding:10px 20px;
}
.score-v{
    width:100%;
}
#score{
    position: absolute;
    top:45%;
    left:50%;
    font-size:25px;
}


#go-bg{
    opacity:0;
    pointer-events: none;
}
#go{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, 100%);
    box-shadow:#fff 5px 5px 0 0;
    text-align: center;
    background:#0000006c;
    border:2px solid #fff;
    border-radius: 20px;
    padding:20px 50px;
    transition:1s;
}
#go .text{
    font-size:40px;
    font-family:"Rock Salt", cursive;
}
#go-s{
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
}
#go-hs{
    margin:10px 0 20px 0;
}
#go-btn{
    background:#fff;
    color:#000;
}
#go-btn:hover{
    background:#000;
    color:#fff;
    box-shadow: #fff 3px 3px 0 0;
}


#bt-cont{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    opacity:0;
    pointer-events: none;
    transition:1s;
}
#bt1{
    font-size:30px;
    color:#ffffff52;
    font-family:"Rock Salt", cursive;
}
#bt2{
    font-size:100px;
    color:#ffffff62;
    font-family:"Rock Salt", cursive;
}

#home-scrn{
    width:80%;
    height:80%;
    background:url(public/h-bg.jpg);
    background-size: cover;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 20px;
    border:2px solid #fff;
    box-shadow:#fff 5px 5px 0 0 ;
    transition:1s;
    pointer-events: all;
}
#hc-bg{
    opacity:1;
    pointer-events: all;
}
.hbtn-cont{
    position:absolute;
    top:50%;
    left:25%;
    transform:translate(-50%, -25%);
    gap:10px;
}
.home-btn{
    width:150px;
}
#play-btn{
    padding:0;
    width:300px;
    background:#fff;
    color:#000;
    font-size:20px;
    font-family:"Rock Salt", cursive;
    margin: 0 0 10px 0;
}
#play-btn:hover{
    box-shadow: #fff 5px 5px 0 0 ;
}
#play-btn:hover{
    background:#000;
    color:#fff;
}


#mail{
    position: absolute;
    top:-50px;
    left:30%;
    width:50px;
    transition:1s;
}
.mail-a{
    animation: 3s mail ;
}
@keyframes mail {
    0%{
        top:-50px;
        transform: scale(1) rotate(0deg);
    }
    80%{
        top:150px;
        transform:scale(1) rotate(300deg)
    }
    100%{
        transform: scale(0) rotate(0deg);
        top:100px;
    }
}